# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/

# Test and coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Tool caches
.mypy_cache/
.ruff_cache/

# IDE/editor
.vscode/
.idea/

# OS
.DS_Store

# Project specific
src/mmetl.egg-info/
